<div class='navigation'>
    <div class='navbar'>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#as">Attention Seekers</a>
                    </h4>
                </div>
                <div id="as" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="bounce">bounce</a>
                            </li>
                            <li>
                                <a routerLink="flash">flash</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#be">Bouncing Entrances</a>
                    </h4>
                </div>
                <div id="be" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="bounce-in">bounceIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>