<div class='navigation'>
    <div class='navbar'>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#as">Attention Seekers</a>
                    </h4>
                </div>
                <div id="as" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="bounce">bounce</a>
                            </li>
                            <li>
                                <a routerLink="flash">flash</a>
                            </li>
                            <li>
                                <a routerLink="pulse">pulse</a>
                            </li>
                            <li>
                                <a routerLink="rubber-band">rubberBand</a>
                            </li>
                            <li>
                                <a routerLink="shake">shake</a>
                            </li>
                            <li>
                                <a routerLink="swing">swing</a>
                            </li>
                            <li>
                                <a routerLink="tada">tada</a>
                            </li>
                            <li>
                                <a routerLink="wobble">wobble</a>
                            </li>
                            <li>
                                <a routerLink="jello">jello</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#be">Bouncing Entrances</a>
                    </h4>
                </div>
                <div id="be" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="bounce-in">bounceIn</a>
                            </li>
                            <li>
                                <a routerLink="bounce-in-down">bounceInDown</a>
                            </li>
                            <li>
                                <a routerLink="bounce-in-left">bounceInLeft</a>
                            </li>
                            <li>
                                <a routerLink="bounce-in-right">bounceInRight</a>
                            </li>
                            <li>
                                <a routerLink="bounce-in-up">bounceInUp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#bex">Bouncing Exits</a>
                    </h4>
                </div>
                <div id="bex" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="bounce-out">bounceOut</a>
                            </li>
                            <li>
                                <a routerLink="bounce-out-down">bounceOutDown</a>
                            </li>
                            <li>
                                <a routerLink="bounce-out-left">bounceOutLeft</a>
                            </li>
                            <li>
                                <a routerLink="bounce-out-right">bounceOutRight</a>
                            </li>
                            <li>
                                <a routerLink="bounce-out-up">bounceOutUp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#fe">Fading Entrances</a>
                    </h4>
                </div>
                <div id="fe" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="fade-in">fadeIn</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-down">fadeInDown</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-down-big">fadeInDownBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-left">fadeInLeft</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-left-big">fadeInLeftBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-right">fadeInRight</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-right-big">fadeInRightBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-up">fadeInUp</a>
                            </li>
                            <li>
                                <a routerLink="fade-in-up-big">fadeInUpBig</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#fex">Fading Exits</a>
                    </h4>
                </div>
                <div id="fex" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="fade-out">fadeOut</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-down">fadeOutDown</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-down-big">fadeOutDownBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-left">fadeOutLeft</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-left-big">fadeOutLeftBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-right">fadeOutRight</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-right-big">fadeOutRightBig</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-up">fadeOutUp</a>
                            </li>
                            <li>
                                <a routerLink="fade-out-up-big">fadeOutUpBig</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#fl">Flippers</a>
                    </h4>
                </div>
                <div id="fl" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="flip">flip</a>
                            </li>
                            <li>
                                <a routerLink="flip-in-x">flipInX</a>
                            </li>
                            <li>
                                <a routerLink="flip-in-y">flipInY</a>
                            </li>
                            <li>
                                <a routerLink="flip-out-x">flipOutX</a>
                            </li>
                            <li>
                                <a routerLink="flip-out-y">flipOutY</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#ls">Lightspeed</a>
                    </h4>
                </div>
                <div id="ls" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="light-speed-in">lightSpeedIn</a>
                            </li>
                            <li>
                                <a routerLink="light-speed-out">lightSpeedOut</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#re">Rotating Entrances</a>
                    </h4>
                </div>
                <div id="re" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="rotate-in">rotateIn</a>
                            </li>
                            <li>
                                <a routerLink="rotate-in-down-left">rotateInDownLeft</a>
                            </li>
                            <li>
                                <a routerLink="rotate-in-down-right">rotateInDownRight</a>
                            </li>
                            <li>
                                <a routerLink="rotate-in-up-left">rotateInUpLeft</a>
                            </li>
                            <li>
                                <a routerLink="rotate-in-up-right">rotateInUpRight</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#rex">Rotating Exits</a>
                    </h4>
                </div>
                <div id="rex" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="rotate-out">rotateOut</a>
                            </li>
                            <li>
                                <a routerLink="rotate-out-down-left">rotateOutDownLeft</a>
                            </li>
                            <li>
                                <a routerLink="rotate-out-down-right">rotateOutDownRight</a>
                            </li>
                            <li>
                                <a routerLink="rotate-out-up-left">rotateOutUpLeft</a>
                            </li>
                            <li>
                                <a routerLink="rotate-out-up-right">rotateOutUpRight</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#ze">Zoom Entrances</a>
                    </h4>
                </div>
                <div id="ze" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="zoom-in">zoomIn</a>
                            </li>
                            <li>
                                <a routerLink="zoom-in-down">zoomInDown</a>
                            </li>
                            <li>
                                <a routerLink="zoom-in-left">zoomInLeft</a>
                            </li>
                            <li>
                                <a routerLink="zoom-in-right">zoomInRight</a>
                            </li>
                            <li>
                                <a routerLink="zoom-in-up">zoomInUp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#zex">Zoom Exits</a>
                    </h4>
                </div>
                <div id="zex" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a routerLink="zoom-out">zoomOut</a>
                            </li>
                            <li>
                                <a routerLink="zoom-out-down">zoomOutDown</a>
                            </li>
                            <li>
                                <a routerLink="zoom-out-left">zoomOutLeft</a>
                            </li>
                            <li>
                                <a routerLink="zoom-out-right">zoomOutRight</a>
                            </li>
                            <li>
                                <a routerLink="zoom-out-up">zoomOutUp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>